<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Practice</title>
</head>
<body>
    <div class="w-fu">
        <h1 class="text-blue-600">Hello World!</h1>
    </div>
</body>
</html>